<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.andy.demo"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="7"
        android:targetSdkVersion="15" />

    <application
        android:name="com.andy.demo.ApplicationEx"
        android:debuggable="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name" >
        
        <meta-data android:name="UMENG_APPKEY"  android:value="52d8af6c56240b9bbf004e19" />
        <meta-data android:name="UMENG_CHANNEL"  android:value="Leic" />
        
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name" 
            android:hardwareAccelerated="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity android:name="com.andy.demo.activity.SyncTestActivity"/>
        <activity android:name="com.andy.demo.activity.ShareTestActivity"/>
        <activity android:name="com.andy.demo.activity.LocalFileManagerActivity"/>
        <activity android:name="com.andy.demo.activity.MyGroupActivity"/>
        <activity android:name="com.andy.demo.activity.SimpleViewTestActivity"
            android:launchMode="singleTask">
            <intent-filter >
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="andy"/>
            </intent-filter>
            </activity>
        
    </application>
    
    <!-- ###################权限###################### -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />  <!-- 检测网络状态 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /><!-- 缓存资源优先存入SDcard -->
    <uses-permission android:name="android.permission.INTERNET" />              <!-- 允许应用程序联网，以便向我们的服务器端发送数据。 -->
	<uses-permission android:name="android.permission.WRITE_SETTINGS"/>
<!-- 	<uses-permission android:name="android.permission.WRITE_SECURE_SETTINGS"/> -->
</manifest>